@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@200;300;400;500;600&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 2.5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
}
.container {
    max-width: 1500px;
    width: 100%;
    background: #212A31;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

header {
    background: #124E66;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
}

header nav ul li {
    margin: 0 50px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

header nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px 0;
}

#home {
    background: rgb(183, 183, 183);
    text-align: left;
    padding: 10px 10px;
}

#home .home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home .home-text {
    flex: 1;
    padding: 20px;
    color: whitesmoke;
}

#home .home-text h1 {
    margin-bottom: 30px;
}

#home .home-image {
    flex: 0 0 auto;
    padding: 1px;
}

#home .home-image img {
    max-width: 530px; /* Adjust the width as needed */
    margin: 30px;
    border-radius: 100px;
    box-shadow: 0 0 40px rgba(240, 226, 226, 0.568);
}

.main-text {
    font-size: 130px;
    font-family: Courier, monospace;
    animation: colorChange 3s infinite alternate;
    text-align: center;
}

@keyframes colorChange {
    0% {
        color: rgb(26, 0, 131);
    }
    50% {
        color: rgb(86, 95, 0);
    }
    100% {
        color: rgba(71, 46, 0, 0.974);
    }
}


.icon ul {
    list-style: none;
    padding: 0;
    display: flex; 
    gap: 15px; 
}

.icon ul li {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 3.3em;
    margin: 0 50px;
}


.icon ul li a {
    margin-left: 150px; 
    color: white;
    text-decoration: none;
    transition: transform 0.3s;
}

.icon ul li a:hover {
    text-decoration: underline;
    transform: scale(1.05); 
}



.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
    justify-items: center;
}

.about-main-text {
    font-size: 60px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: white; 
    text-align: center; 
    padding: 10px; 
    justify-content: center
}

.about-meaning {
    font-size: 30px; 
    color: white; 
    text-align: left;
}

.about-image {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    height: 600px;
}

.full-width {
    grid-column: span 2;
    padding: 20px;
    margin: 20px;
    grid-gap: 310px; 
}

.about-image img {
    width: 100%;
    max-width: 420px;
    height: auto;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(153, 114, 6, 0.589);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.about-image img:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 20px rgba(153, 114, 6, 0.8);
}

.about-text {
    flex: 1;
    padding: 10px;
    font-size: 20px;
    margin-left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #1d1d1d;
  color: #fff;
  font-family: 'Arial', sans-serif;
  width: 100%;
  position: fixed;  
  bottom: 0;        
  left: 0;          
  z-index: 1000;    
}

footer p {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

footer span {
  color: #f39c12;
}